.DS_Store
/deno.lock
/dist
/cov_profile
/cov_profile.lcov
/examples/jfk.wav*
/examples/node_modules
/examples/package.json
/examples/package-lock.json
/fixtures/npm-integration-test/node_modules
/fixtures/npm-integration-test/package-lock.json
