name: CD

on:
  release:
    types:
      - created
      - edited

permissions:
  packages: write
  contents: read

concurrency:
  group: ${{ github.event.release.tag_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/

      - name: build
        run: .github/deno-to-node.ts ${{ github.event.release.tag_name }}

      - run: npm publish
        working-directory: dist
        env:
          NODE_AUTH_TOKEN: ${{github.token}}

      # provided by ChatGPT
      - name: Convert pre-release to release
        run: |
          curl -X PATCH \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            -d '{"draft": false}' \
            "https://api.github.com/repos/${{ github.repository }}/releases/${{ github.event.release.id }}"

  tagger:
    permissions:
      contents: write
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fischerscode/tagger@v0
        with:
          prefix: v
